<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.easyexceldemo.dao.StudentDao">
    <insert id="insertBatch">
        insert into STUDENT(name,sex)
        values
        <foreach collection="studentCollection" item="item" separator=",">
            (#{item.name,jdbcType=VARCHAR},#{item.sex,jdbcType=VARCHAR})
        </foreach>
    </insert>

</mapper>